<div class="container">
  <h1 class="list-title">Listagem de clientes</h1>
  <table>
    <tr>
      <th>Negócio</th>
      <th>Cliente</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
    <% @sales.each do |sale| %>
      <%= render 'modal', sale: sale, progressions: sale.progressions %>
      <tr>
        <td><%= sale.product %></td>
        <td><%= sale.customer %></td>
        <td><%= number_to_currency(sale.amount, unit: "R$ ", separator: ",", delimiter: ".") %></td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showDetails<%= sale.id%>">
            Ver Detalhes
          </button>
        </td>
      </tr>
    <% end %>
  </table>
</div>
